In [45]:
from main import main

main()

In [98]:
from PDconfig import df_ML as MeLi, df_LV as LaVoz
from archivosDF import *

df_ML = abrirDF(MeLi, 'id')
df_LV = abrirDF(LaVoz, 'id')

In [119]:
tiposLV = df_LV["tipoPropiedad"].value_counts()
tiposML = df_ML["tipoPropiedad"].value_counts()

In [99]:
tiposLV

tipoPropiedad
CASA                  11995
DEPARTAMENTO          10731
TERRENOS LOTES         5636
DUPLEX                 1283
LOCAL                   805
COCHERAS                543
OFICINAS                534
GALPONES DEPOSITOS      403
CAMPOS                  208
CASAS                   179
DEPARTAMENTOS           176
DÚPLEX                  138
CABAÑA                   62
FONDO COMERCIO           61
SEMIPISO                 54
PISO                     40
TRIPLEX                  34
CHALET                   29
PENTHOUSE                12
LOFT                      8
PREFABRICADA              5
Name: count, dtype: int64

In [78]:
f_dptos_ML = (df_ML["tipoPropiedad"] == "DEPARTAMENTO")
dptos_ML = df_ML.loc[f_dptos_ML]
dptos_ML.sort_values("terrenoEdificado", ascending=False)
mal_cargado = (dptos_ML["terrenoEdificado"] > 300)
print(dptos_ML.loc[mal_cargado, "tipoPropiedad"].count())

f_dptos_LV = (df_LV["tipoPropiedad"] == "DEPARTAMENTO") & (df_LV["terrenoTotal"] != None)
dptos_LV = df_LV.loc[f_dptos_LV]
dptos_LV.sort_values("terrenoTotal", ascending=False)
mal_cargado = (dptos_LV["terrenoTotal"] > 300)
print(dptos_LV.loc[mal_cargado, "tipoPropiedad"].count())

108
77

In [105]:
df_LV["tipoPropiedad"]=df_LV["tipoPropiedad"].replace({"DUPLEX" : "CASA", "TRIPLEX" : "CASA"})
tiposLV = df_LV["tipoPropiedad"].value_counts()
tiposLV

tipoPropiedad
CASA                  13312
DEPARTAMENTO          10731
TERRENOS LOTES         5636
LOCAL                   805
COCHERAS                543
OFICINAS                534
GALPONES DEPOSITOS      403
CAMPOS                  208
CASAS                   179
DEPARTAMENTOS           176
DÚPLEX                  138
CABAÑA                   62
FONDO COMERCIO           61
SEMIPISO                 54
PISO                     40
CHALET                   29
PENTHOUSE                12
LOFT                      8
PREFABRICADA              5
Name: count, dtype: int64

In [126]:
filt = df_ML["barrio"].str.contains("INMUEBLES")
df_ML.loc[filt, "barrio"] = ""

In [127]:
df_ML.describe()

,precioUSD,terrenoTotal,terrenoEdificado,cantDormitorios,cantBanos,cantCochera
count,3.368100e+04,3.300600e+04,2.389400e+04,23924.000000,23860.000000,14419.000000
mean,1.416676e+05,2.403056e+04,2.349029e+02,2.615240,1.952473,1.715029
std,8.565694e+05,2.387341e+06,7.588987e+03,15.159707,2.211179,3.361533
min,9.000000e+00,0.000000e+00,0.000000e+00,1.000000,1.000000,0.000000
25%,4.500000e+04,1.230000e+02,6.500000e+01,2.000000,1.000000,1.000000
50%,8.500000e+04,3.600000e+02,1.200000e+02,2.000000,2.000000,1.000000
75%,1.590000e+05,9.000000e+02,2.000000e+02,3.000000,2.000000,2.000000
max,1.111111e+08,4.000000e+08,1.111111e+06,2318.000000,123.000000,132.000000

In [131]:
gb_tipo_ML = df_ML.groupby(["tipoPropiedad"])
gb_tipo_LV = df_LV.groupby(["tipoPropiedad"])

In [140]:
print(gb_tipo_ML["precioUSD"].agg(['median', 'mean']))
print(gb_tipo_LV["precioUSD"].agg(['median', 'mean']))

                  median          mean
tipoPropiedad
CASA            132500.0  1.830777e+05
DEPARTAMENTO     75000.0  1.257413e+05
LOCAL          2000000.0  2.000000e+06
OTRO            205000.0  2.050000e+05
TERRENO          37000.0  9.265688e+04
                      median          mean
tipoPropiedad
CABAÑA              125000.0  2.153063e+05
CAMPOS              235000.0  4.531200e+05
CASA                135000.0  1.878890e+05
CASAS               109000.0  1.340541e+05
CHALET              150000.0  1.986552e+05
COCHERAS             12000.0  4.258555e+04
DEPARTAMENTO         67000.0  9.130930e+04
DEPARTAMENTOS        60000.0  7.977557e+04
DÚPLEX               95500.0  1.060214e+05
FONDO COMERCIO       40000.0  2.317065e+05
GALPONES DEPOSITOS  150000.0  2.941277e+05
LOCAL                95000.0  1.259035e+07
LOFT                 85000.0  1.080974e+05
OFICINAS             65000.0  1.180619e+05
PENTHOUSE           400000.0  4.004167e+05
PISO                190000.0  2.511225e+05
PREFABRICADA         30000.0  3.150000e+04
SEMIPISO            137500.0  1.862554e+05
TERRENOS LOTES       42850.0  1.291532e+05

In [144]:
columnas = ['terrenoTotal', 'terrenoEdificado', 'cantDormitorios', 'cantBanos', 'cantCochera']
df_LV = df_LV.dropna(axis='index', how='all', subset=columnas)
df_ML = df_ML.dropna(axis='index', how='all', subset=columnas)

In [187]:
#CANTIDAD DE REGISTROS DUPLICADOS
print(df_LV.value_counts("id").head(61))
print(df_ML.value_counts("id").head(685))

id
4804862    2
3493206    2
5007951    2
4644004    2
5085036    2
          ..
4570715    2
4921247    2
4796574    2
3324938    2
4818400    2
Name: count, Length: 61, dtype: int64
id
1377272193    2
1443537584    2
1143674446    2
1443507464    2
1123623023    2
             ..
1375126673    2
1374139174    2
1116956322    2
1137529602    2
1342800523    2
Name: count, Length: 685, dtype: int64