In [1]:
from main import main

main()

In [17]:
from main import abrirDF
from PDconfig import *


df_LaVoz = abrirDF(df_LV)

In [18]:
df_LaVoz

,id,tipoPropiedad,precioUSD,fechaUltimaActualizacion,terrenoTotal,terrenoEdificado,cantDormitorios,cantBanos,cantCochera,barrio,ciudad
0,5081118,CASA,65500,11-07-2023,243.0,88.0,3.0,1.0,1.0,PARQUE CAPITAL,CÓRDOBA
1,4971778,DEPARTAMENTO,37000,11-07-2023,35.0,NaN,1.0,1.0,NaN,PUEYRREDON,CÓRDOBA
2,5043215,DEPARTAMENTO,65000,11-07-2023,0.0,NaN,1.0,1.0,NaN,GENERAL PAZ,CÓRDOBA
3,4768951,DEPARTAMENTO,39999,11-07-2023,40.0,NaN,1.0,1.0,NaN,SAN MARTIN,CÓRDOBA
4,5007184,DEPARTAMENTO,47000,11-07-2023,45.0,NaN,1.0,1.0,NaN,NUEVA CÓRDOBA,CÓRDOBA
...,...,...,...,...,...,...,...,...,...,...,...
32636,4828631,NaN,250000,23-08-2022,NaN,NaN,NaN,NaN,NaN,NaN,SANTA MARÍA DE PUNILLA
32637,4829958,DEPARTAMENTO,185000,23-08-2022,NaN,NaN,3.0,3.0,2.0,GREENVILLE 2,CÓRDOBA
32638,4830522,NaN,20000,24-08-2022,500.0,NaN,NaN,NaN,NaN,VILLA CATALINA,RÍO CEBALLOS
32639,4830281,NaN,24000,24-08-2022,400.0,NaN,NaN,NaN,NaN,VILLA CATALINA,RÍO CEBALLOS
32640,4829896,NaN,19000,23-08-2022,476.0,NaN,NaN,NaN,NaN,NaN,UNQUILLO

In [11]:
df_LaVoz["tipoPropiedad"].value_counts()

tipoPropiedad
CASA            11877
DEPARTAMENTO    10692
DUPLEX           1281
DÚPLEX            137
CABAÑA             67
SEMIPISO           54
PISO               41
TRIPLEX            32
CHALET             27
PENTHOUSE          13
LOFT               10
PREFABRICADA        5
Name: count, dtype: int64

In [22]:
df_LV_filtrada = (df_LaVoz['id']).unique()
len(df_LV_filtrada)

32538